---
permalink: sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"><url><loc>https://www.thevortexproject.org/</loc></url><url><loc>https://www.thevortexproject.org/weather.html</loc></url><url><loc>https://www.thevortexproject.org/observatory.html</loc></url><url><loc>https://www.thevortexproject.org/cartographer.html</loc></url><url><loc>https://www.thevortexproject.org/institute/</loc></url><url><loc>https://www.thevortexproject.org/dispatches/</loc></url>{% for item in editorial | publicPublications %}<url><loc>{{ item.url }}</loc></url>{% endfor %}</urlset>
